body {
    background-image: url(../image/burgers2.png);

}

body { 
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
    background-size: contain;
	background-color: rgb(255, 230, 92)	
}



.top-section, .lower-section{
    text-align: center; 
}


#label {
    color: black;
    font-size: 16px;
}

#burger-image{
    margin-top: 10px;
}
#devoured{
    color: brown;
}
#devour{
    color: green;
}

body {
    font-family: 'Anton', sans-serif;
}
h2 {
    color: navy;
    
}
h4 {
    color: blue;
}

li {
    padding: 4px;
    font-size: 16px;
}

